/* ALL */

/* NAVBAR* */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar ul li a {
  float: right;
  margin-left: 20px;
}
.jumbotron img {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: 50px;
}
.jumbotron h2 span {
  color: white;
  background-color: black;
}
.jumbotron h2 {
  color: black;
  text-align: center;
  font-family: "Viga", sans-serif;
  margin-top: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.jumbotron {
  background-image: url(image/homedesign.png);
  background-size: cover;
  height: 300px;
  position: relative;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
/* NAVBAR# */

/* Body* */
.bg-black .row .col svg {
  width: 20px;
  height: 20px;
}

/* Body# */

/* Product* */
.par-font {
  font-size: 10px;
}
.card-body a img {
  padding-left: 20px;
}
/* Product# */

/* Contact* */
#contact {
  border-top: none !important;
}
/* Contact# */

/* copyright* */
.copyright {
  height: 50px;
}
.copyright p {
  padding-top: 10px;
  font-size: 12px;
}
/* copyright# */

/* detail */
.font-vigo{
  font-family: "Viga", sans-serif;
}

.font-detail {
  font-size: medium;
}

.detail h4 span{
  color: white;
  font-size: small !important;
}

.center-par-ver {
  display: flex;
  align-items: center;
}
 

.detail-pay {
  background-color: white;
  font-weight: bold;
  padding: 5px;
  font-family: "Viga", sans-serif;
}
/* detail# */

.gif-size{
  height: 50px;
}

/* desktop */
@media (min-width: 992px) {
  .jumbotron h2 {
    margin-top: 170px;
    font-size: 70px;
  }
  .jumbotron {
    height: 800px;
  }
  .jumbotron img {
    width: 200px;
  }
  .navbar-brand img {
    height: 50px;
  }

  .center-par-ver {
    display: flex;
    align-items: center;
    margin-top: -200px;
  }

  .gif-size{
    height: 85px;
  }

  /* Body* */
  .bg-black .row .col svg {
    width: 25px;
    height: 25px;
  }
  .bg-black .row .col h3 {
    font-size: 40px;
  }
  .bg-black .row .col p {
    font-size: 20px;
  }
  .bg-black .row .col {
    margin-top: 200px;
  }
  /* Body# */

  /* copyright* */
  .copyright {
    height: 40px;
  }
  .copyright p {
    padding-top: 10px;
    font-size: 12px;
  }
  /* copyright# */

  /* Product* */
  #product .col p {
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  #product .col img {
    height: 600px;
    width: 480px;
    margin-bottom: 200px;
  }
  /* PProduct# */

  /* Contact* */
  #contact .card-header img {
    height: 400px;
    padding-bottom: 40px;
  }
  /* Contact# */

  /* Detail */
  .font-detail {
    font-size: xx-large;
  }
  /* Detail# */
}
